<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容"
                    v-model.trim="val"
                    @keyup.13="add"
                >
            </header>
            <section class="main">
                <input 
                    class="toggle-all" 
                    type="checkbox" 
                    :checked="all"
                    @click="changeAll"
                >
                <!-- v-model="all"    -->
                <ul class="todo-list">
                    <li 
                        @dblclick="replace(val,key)"
                        :class="{
                            completed:val.checked,
                            editing:val.onoff
                        }"
                        v-for="(val,key) in ary"
                    >
                    <!-- :class="val.checked?'completed':''"  -->
                        <div class="view">
                            <input 
                                class="toggle" 
                                type="checkbox" 
                                v-model="val.checked"
                            >
                            <label>{{val.txt}}</label>
                            <button 
                                class="destroy"
                                @click="rm(val.id)"
                            ></button>
                        </div>
                        <input 
                            class="edit"
                            ref="edit"
                            @blur="off(val,$event)"
                            @keyup.esc="onoff_FN(val.id,false)"
                        />
                    </li>
                </ul>
            </section>
            {{ary}}
            <!-- <footer class="footer">
	            <span class="todo-count">
	            	<strong>0</strong>
	            	<span>条未选中</span>
                </span>
                <ul 
                    class="filters"
                >
                    <li>
                        <a 
                            href="#/all" 
                            class="selected"
                           
                        >全部</a>
                    </li>
                    <li>
                        <a 
                            href="#/unchecked" 
                            
                            class=""
                        >未选中</a>
                    </li>
                    <li>
                        <a 
                            href="#/checked"
                            class=""
                        >已选中</a>
                    </li>
                </ul>
            </footer> -->
        </div>
    </section>
<script src="../../vue.js"></script>
</body>
</html>
<script>
    // editing completed
    // editing ''
    // ''
    //completed
    new Vue({
        el:'.todoapp',
        data:{ 
            all:false,
            val:'',
            ary:[
                {
                    id:0,
                    txt:'哈哈',
                    checked:false,
                    onoff:false
                },
                {
                    id:1,
                    txt:'呵呵',
                    checked:true,
                    onoff:false
                }
            ]
        },
        methods:{
            //按回车创建数据
            add(){
                if(!this.val)return;
                this.ary.unshift( {
                    id:+new Date,
                    txt:this.val,
                    checked:false,
                    onoff:false
                })
                this.val = '';

                console.log(this.ary)
            },
            //删除
            rm(id){
                this.ary = this.ary.filter(e=>e.id !== id)
            },
            //切换全选
            changeAll(ev){
                this.ary = this.ary.map(e=>{
                    e.checked = ev.target.checked;
                    return e;
                });
            },
            //双击修改
            replace({id,txt},num){
                this.onoff_FN(id,true);
                this.$refs.edit[num].value = txt;
                /*
                    改变数据之后，一个元素会刷新，刷新之后就看不见select
                */
                Vue.nextTick( ()=> {
                    // DOM 更新了
                    this.$refs.edit[num].focus();  
                })
            },
            off({id,txt,onoff},ev){
                // console.log(onoff) //onoff为false说明已经关闭了修改框，有可能是按了esc键
                if(!onoff)return;
                const {value} = ev.target;
                //有内容并且内容不一样，这个时候才需要修改数据
                if(value && txt != value){
                    this.ary.forEach(e=>{
                        if(e.id === id){
                            e.txt = value;
                        }
                    });
                }
                this.onoff_FN(id,false);
            },
            onoff_FN(id,b){
                this.ary.forEach(e=>{
                    if(e.id === id){
                        e.onoff = b;
                    }
                });
            }
        },
        watch: {
            ary:{
                handler(){
                    this.all = this.ary.every(e=>e.checked);
                },
                deep:true,
                immediate: true
            }
        },        
    })
</script>