<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp" id="box">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容"
                    v-model.trim="val"
                    @keyup.13="add"
                >
            </header>
            <section class="main">
                <input 
                    class="toggle-all" 
                    type="checkbox" 
                    :checked="all"
                    @click="changeAll"
                >
                <!-- v-model="all"    -->
                <ul class="todo-list">
                    <li 
                        :class="{
                            completed:val.checked,
                            editing:val.onoff
                        }"
                        v-for="(val,key) in hashAry"
                        :key="val.id"
                    >
                        <div class="view">
                            <input 
                                class="toggle" 
                                type="checkbox" 
                                v-model="val.checked"
                            >
                            <label 
                                @dblclick="replace(val,key)"
                            >{{val.txt}}</label>
                            <button 
                                class="destroy"
                                @click="rm(val.id)"
                            ></button>
                        </div>
                        <input 
                            class="edit"
                            ref="edit"
                            :value="val.txt"
                            @blur="off(val,$event)"
                            @keyup.esc="onoff_FN(val.id,false)"
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer" v-show="ary.length">
	            <span class="todo-count">
	            	<strong>{{ary | unchecked}}</strong>
	            	<span>条未选中</span>
                </span>
                <ul 
                    class="filters"
                >
                    <li>
                        <a 
                            href="#/all" 
                            :class="{
                                selected:hash === '#/all'
                            }"
                           
                        >全部</a>
                    </li>
                    <li>
                        <a 
                            href="#/unchecked" 
                            
                            :class="{
                                selected:hash === '#/unchecked'
                            }"
                        >未选中</a>
                    </li>
                    <li>
                        <a 
                            href="#/checked"
                            :class="{
                                selected:hash === '#/checked'
                            }"
                        >已选中</a>
                    </li>
                </ul>
            </footer>
        </div>
    </section>
<script src="../../vue.js"></script>

</body>
</html>
<script>
       // editing completed
    // editing ''
    // ''
    //completed
 
    new Vue({
        el:'.todoapp',
        data:{ 
            all:false,
            val:'',
            ary:[],
            hash:window.location.hash || '#/all'
        },
        created(){

            window.onhashchange = ()=>{
                this.hash = window.location.hash;
            }

            this.ary = getData();

        },
        methods:{
            //按回车创建数据
            add(){
                if(!this.val)return;
                this.ary.unshift( {
                    id:+new Date,
                    txt:this.val,
                    checked:false,
                    onoff:false
                })
                this.val = '';

                // console.log(this.ary)
            },
            //删除
            rm(id){
                this.ary = this.ary.filter(e=>e.id !== id)
            },
            //切换全选
            changeAll(ev){
                this.ary = this.ary.map(e=>{
                    e.checked = ev.target.checked;
                    return e;
                });
            },
            //双击修改
            replace({id},num){
                this.onoff_FN(id,true);//打开编辑框
                Vue.nextTick( ()=> {
                    // DOM 更新了
                    this.$refs.edit[num].focus(); //聚焦
                });
            },

            //失焦
            off({id,txt,onoff},ev){
              
                if(!onoff)return;
                const {value} = ev.target;
                //有内容并且内容不一样，这个时候才需要修改数据
                if(value && txt != value){
                    this.ary.forEach(e=>{
                        if(e.id === id){
                            e.txt = value;
                        }
                    });
                }
                this.onoff_FN(id,false);
            },
            //公共的是否失焦
            onoff_FN(id,b){
                this.ary.forEach(e=>{
                    if(e.id === id){
                        e.onoff = b;
                    }
                });
            }
        },
        filters:{
            unchecked(val){
                return val.filter(e=>!e.checked).length;
            }
        },


        computed:{
            hashAry(){
               
                const {ary,hash} = this;
                // console.log(ary)
                return ary.filter(item=>{
                    switch(hash){
                        case '#/all':
                            return item;
                        case '#/unchecked':
                            return !item.checked;
                        case '#/checked': 
                            return item.checked;
                        default:
                            return item;
                    }
                })
                // console.log(this.hash);
            }
        },
        watch: {
            ary:{
                handler(){
                    // console.log(this.ary);
                    this.all =  !!this.ary.length && this.ary.every(e=>e.checked);
                    if(this.ary.length){
                        localStorage.setItem('data',JSON.stringify(this.ary));
                    }
                },
                deep:true,
                immediate: true
            }
        }      
    })


    function getData(){
        let d = localStorage.getItem('data');
        return d?JSON.parse(d):[
            {
                id:0,
                txt:'哈哈',
                checked:false,
                onoff:false
            },
            {
                id:1,
                txt:'呵呵',
                checked:true,
                onoff:false
            }
        ]
    }
</script>
